@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$primary: #5CD48C;
$button-border-width: 3px;
$button-border-color: #394c4f;
$family-primary: "Comfortaa", Arial;

$is-rounded: "padding: 0";

$footer-padding: 2rem 1.5rem 2rem;

@import "../node_modules/bulma/bulma.sass";

.button-circle{
    border-radius: 9999px;
}

.bg-image {
    position: relative;
    overflow: hidden;
}

.bg-image::before {
    content: ' ';
    display: block;
    z-index: -1;
    opacity: 0.6;
    background-image: url(../src/components/photos/foodicons025.png);
    overflow: hidden;
    background-size: cover;
}

.is-fullscreen {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}