@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$primary: #5CD48C;
$button-border-width: 3px;
$button-border-color: #394c4f;
$family-primary: "Comfortaa", Arial;

$is-rounded: "padding: 0";

@import "../node_modules/bulma/bulma.sass";

.button-circle{
    border-radius: 9999px;
}

.bg-image {
    background-image: url(../src/components/photos/foodicons025.png);
}


.is-fullscreen {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}